@page "{id}"
@model ServiceHost.Pages.ProductModel
@{
    ViewData["Title"] = Model.Product.Name;
    ViewData["keywords"] = Model.Product.Keywords;
    ViewData["metaDescription"] = Model.Product.MetaDescription;
}

<main class="single-product default">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav>
                    <ul class="breadcrumb">
                        <li>

                            <a asp-page="/Index" aria-hidden="true"><i class="fa fa-home" aria-hidden="true"></i></a>
                        </li>

                        <li>
                            <a asp-page="/ProductCategory" asp-route-id="@Model.Product.CategorySlug"><span>@Model.Product.Category</span></a>
                        </li>
                        <li>
                            <span>@Model.Product.Name</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <article class="product">
                    <div class="row product_main_details">
                        <div class="col-lg-5 col-md-6 col-sm-12">
                            <div class="product-gallery default">
                                <img class="main_img_gallery" src="~/Upload/@Model.Product.Picture" alt="@Model.Product.PictureAlt" title="@Model.Product.PictureTitle">
                                <section class="testimonial py-3" id="testimonial">
                                    <div class="container">
                                        <div class="row gallery">
                                            @foreach (var item in Model.Product.Pictures)
                                            {
                                                <div class="col-4 col-md-3 pd"><a href="~/Upload/@item.Picture" rel="prettyPhoto[gallery1]"><img src="~/Upload/@item.Picture" class="img-thumb" alt="@item.PictureAlt" title="@item.PictureTitle"></a></div>
                                            }
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <ul class="gallery-options">
                                <li>
                                    <button class="add-favorites favorites2"><i class="fa fa-heart"></i></button>
                                </li>
                                <li>
                                    <button class="favorites2" data-toggle="modal" data-target="#myModal"><i class="fa fa-share-alt"></i></button>
                                </li>
                            </ul>
                            <!-- Modal Core -->
                            <div class="modal-share modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="myModalLabel">به اشتراک گذاشتن</h4>
                                        </div>

                                        <div class="modal-footer">
                                            <form class="default">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p>
                                                            برای کپی آدرس در کادر زیر دابل کلیک کنید
                                                        </p>
                                                        <p class="right-side-header shareurlvalue" title="کپی بعد دوبار کلیک" id="text" onclick="copyElementText(this.id)">http://www.mysite.com/single-product.html</p>

                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Core -->
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-12 ">


                            <h1 class="product-title ">
                                @Model.Product.Name
                            </h1>
                            <hr class="hr-text">
                            <div class="row">
                                <div class="text-justify mx-3">
                                    <p>@Model.Product.ShortDescription</p>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 product_main_pr">

                                    <div class="time_pr">


                                        <div class="row">
                                            <div class="col-12 upda">
                                                <b>
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>

                                                    زمان ارسال محصول :
                                                </b>
                                                طی 3 روز کاری
                                            </div>

                                            @if (@Model.Product.HasDiscount)
                                            {
                                                <div class="col-12 col-lg-6 col-md-6">

                                                    <p>زمان باقی مانده </p>
                                                    <div class="countdown-timer" countdown="" data-date="@Model.Product.DiscountExpireDate">
                                                        <ul class="text_countdown">
                                                            <li data-days="" class="number_countdown">0</li>
                                                            <li>روز</li>
                                                        </ul>
                                                        <ul class="text_countdown">
                                                            <li data-hours="" class="number_countdown">0</li>
                                                            <li>ساعت</li>
                                                        </ul>
                                                        <ul class="text_countdown">
                                                            <li data-minutes="" class="number_countdown">0</li>
                                                            <li>دقیقه</li>
                                                        </ul>
                                                        <ul class="text_countdown">
                                                            <li data-seconds="" class="number_countdown">0</li>
                                                            <li>ثانیه</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            }
                                            <div class="@(Model.Product.HasDiscount?"col-12 col-lg-6 col-md-6 border_left":"col-12")">
                                                <div class="price space-15">
                                                    @if (Model.Product.HasDiscount)
                                                    {
                                                        <del><span>@Model.Product.Price<span>تومان</span></span></del>
                                                        <span class="discount_badge">@Model.Product.DiscountRate%</span>
                                                        <ins><span>@Model.Product.PriceAfterDiscount<span>تومان</span></span></ins>
                                                    }
                                                    else
                                                    {
                                                        <ins><span>@Model.Product.Price<span>تومان</span></span></ins>
                                                    }
                                                </div>
                                                <div class="col-12 timer-title text--center">
                                                    <a onclick="addToCart('@Model.Product.Id','@Model.Product.Name','@Model.Product.Price','@Model.Product.Picture')" class="btn btn-main-masai big_btn">افزودن به سبد</a>
                                                </div>
                                            </div>
                                        </div>



                                    </div>


                                </div>
                                <div class="col-12">
                                    <p class="txt_note">
                                        <i class="fa fa-info" aria-hidden="true"></i>
                                        برای کالاهای گروه موبایل، امکان برگشت کالا به دلیل انصراف از خرید تنها در صورتی مورد قبول است که کالا بدون هیچگونه استفاده و با تمامی قطعات، متعلقات و بسته‌بندی‌های اولیه خود بازگردانده شود. لازم به ذکر است که برای هر کالای موبایل، ضمانت رجیستری صادر می‌شود. در صورت بروز اشکال در ضمانت رجیستری، پس از انقضای مدت ۳۰ روزه، کالا می‌تواند بازگردانده شود.
                                    </p>
                                </div>

                            </div>


                        </div>

                    </div>
                </article>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 default no-padding bg_single_product">
                    <div class="product-tabs default">
                        <div class="box-tabs default">
                            <ul class="nav" role="tablist">
                                <li class="box-tabs-tab">
                                    <a class="active " data-toggle="tab" href="#desc" role="tab" aria-expanded="true">
                                        توضیحات تکمیلی
                                    </a>
                                </li>
                                <li class="box-tabs-tab">
                                    <a data-toggle="tab" href="#params" role="tab" aria-expanded="false">
                                        مشخصات محصول
                                    </a>
                                </li>
                                <li class="box-tabs-tab">
                                    <a data-toggle="tab" href="#comments" role="tab" aria-expanded="false">
                                        دیدگاه خریداران
                                    </a>
                                </li>
                                <li class="box-tabs-tab">
                                    <a data-toggle="tab" href="#comments_questions" role="tab" aria-expanded="false">
                                        ارسال نظر
                                    </a>
                                </li>
                            </ul>
                            <div class="card-body default">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="desc" role="tabpanel" aria-expanded="true">

                                        <header class="card-header">
                                            <h2 class="card-title"><span>برسی @Model.Product.Name</span></h2>
                                        </header>
                                        <div class="parent-expert default">
                                            <div class="content-expert">
                                                <p>@Model.Product.Description</p>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="tab-pane params" id="params" role="tabpanel" aria-expanded="false">
                                        <header class="card-header">
                                            <h3 class="card-title"><span>بررسی تخصصی گوشی iPhone 13 Pro Max </span></h3>
                                        </header>

                                        <div class="col-12">
                                            <ul class="list-group ">
                                                <li class="list-group-item">رنگ: مشکی</li>
                                                <li class="list-group-item">بلوتوث:دارد</li>
                                                <li class="list-group-item"> رزولوشن عکس : 12 مگاپیکسل</li>
                                                <li class="list-group-item"> اندازه  : 6.1</li>

                                                <li class="list-group-item">قابلیت : ضد آب</li>
                                                <li class="list-group-item"> نوع گوشی : دو گوشی</li>
                                                <li class="list-group-item"> سیستم عامل : iOS 15</li>
                                                <li class="list-group-item"> فناوری  : Super Retina XDR OLED</li>


                                            </ul>


                                        </div>




                                    </div>
                                    <div class="tab-pane" id="comments" role="tabpanel" aria-expanded="false">

                                        <header class="card-header">
                                            <h3 class="card-title"><span>دیدگاه های کاربران</span></h3>
                                        </header>
                                        <div class="comments_form default">
                                            <ol class="comment-list">
                                                <!-- #comment-## -->
                                                @foreach (var item in Model.Product.Comments)
                                                {
                                                    <li>
                                                        <div class="comment-body">
                                                            <div class="comment-author">
                                                                <img alt="" src="~/Theme/assets/img/profile/1.png" class="avatar"><div class="text-h5">@item.Name</div>
                                                            </div>

                                                            <p>@item.Message</p>
                                                            <ul class="commentul">
                                                                <li>
                                                                    @item.CreateDate
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                }
                                            </ol>
                                        </div>

                                    </div>
                                    <div class="tab-pane form-comment" id="comments_questions" role="tabpanel" aria-expanded="false">
                                        <header class="card-header">
                                            <h3 class="card-title"><span>ارسال نظر</span></h3>
                                        </header>

                                        <form method="post" class="comment">
                                            <div class="row mb-3">
                                                <div class="col-6">
                                                    <label for="name"> نام و نام خانوادگی</label>
                                                    <input type="text" id="name" name="name" class="form-control">
                                                </div>

                                                <div class="col-6">
                                                    <label for="email">ایمیل</label>
                                                    <input type="text" id="email" name="email" class="form-control">
                                                </div>
                                            </div>
                                            <label for="message">متن نظر</label>
                                            <textarea class="form-control" name="message" id="message" rows="4"></textarea>
                                            <input type="hidden" name="productId" value="@Model.Product.Id" />
                                            <input type="hidden" name="productSlug" value="@Model.Product.Slug" />
                                            <button class="btn btn-main-masai">ارسال برای تایید</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Css
    {
    <link href="~/Theme/assets/css/nouislider.min.css" rel="stylesheet" />
    <link href="~/Theme/assets/css/plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet" />
}

@section Script
    {
    @*     <script src="~/Theme/assets/js/core/jquery.min.js"></script> *@
    <script src="~/Theme/assets/js/plugins/jquery.ez-plus.js" type="text/javascript"></script>
    <script src="~/Theme/assets/css/plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>
    <script>
        function copyElementText(id) {
            var text = document.getElementById(id).innerText;
            var elem = document.createElement("textarea");
            document.body.appendChild(elem);
            elem.value = text;
            elem.select();
            document.execCommand("copy");
            document.body.removeChild(elem);
        }
    </script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $("area[rel^='prettyPhoto']").prettyPhoto();

            $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({ animation_speed: 'normal', theme: 'light_square', slideshow: 3000, autoplay_slideshow: false });
            $(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({ animation_speed: 'fast', slideshow: 10000, hideflash: true });

        });
    </script>
}
